PORT=
NODE_ENV=
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
CORS_ORIGIN=
CLIENT_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SEED_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_CLIQ_WEBHOOK_SALES=
ZOHO_CLIQ_WEBHOOK_PROJECTS=
ZOHO_CLIQ_WEBHOOK_FINANCE=
ZOHO_CLIQ_WEBHOOK_SUPPORT=
ZOHO_CLIQ_WEBHOOK_MANAGEMENT=
ZOHO_CLIQ_WEBHOOK_GENERAL=
ADMIN_EMAILS=